.test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:50%;
    border: 1px solid black;  
}

.event-title{
  text-decoration: underline;
}

.checkout-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height:50%;
    border: 1px solid black;  
}